%p
  = render 'layouts/messages'

= render 'recipes/post_from_index'
%br

%table.table.bg-white.mr-5
  %thead
    %tr
      %th.btn-twitter
        Recipes shared:
        = @recipes.count

  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.user
        %td= recipe.description
        %td= link_to 'Show', recipe
        - if policy(recipe).edit?
          %td= link_to 'Edit', edit_recipe_path(recipe)
          %td= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }

