.row.bg-white.mr-5.py-4.mt-2
  .col-1
    = image_tag recipe.user.avatar_photo, height: "50px", width: "50px"
  .col-9.ml-2
    .row
      %h6
        = link_to recipe.user.fullname, user_path(recipe.user)
        %small
          = link_to "@" + recipe.user.username, user_path(recipe.user)
    .row
      %p= recipe.description
  .row
    = authorized_edit?(recipe)