.card
  .card-header
    .fa.fa-user
    = current_user.email
  .card-footer
    - if @user ||= current_user
      %a{:href => "#{following_user_path(@user)}"}
      %strong#following
        = @user.followed_users.count
        following
      %a{:href => "#{followers_user_path(@user)}"}
      %strong#followers
        = @user.followers.count
        followers

