.row.bg-white.mr-5.py-4.mt-2
  .col-1
    = image_tag avatar_for(recipe.user), height: "50px", width: "50px", class: "rounded-circle"
  .col-9.ml-2
    .row
      %h6
        = link_to recipe.user.fullname, user_path(recipe.user)
        %small
          = link_to "@" + recipe.user.username, user_path(recipe.user)
    .row
      %p= recipe.description
  .row
    - if policy(recipe).edit?
      %small
        = link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-twitter align-self-center'