- if @user ||= current_user
  .card
    .card-header
      .fa.fa-user
      = @user.email
  %section.flex.flex-row.justify-center.text-center.m-auto
    .has-text-centered.px-5.py-2.border-r-2
      %h5
        = @user.followers.count
        Followers
    .has-text-centered.px-5.py-2
      %h5
        = @user.followed_users.count 
        Followed
    .has-text-centered.px-5.py-2
      %h5 
        = @user.recipes.count
        Recipes
            
          
- @users.each do |user|
  - unless user.id == current_user.id || user.id == @user.id
    -# .grid.grid-cols-3.pt-3
    -# .flex.flex-row.col-span-2
    -#   = image_tag(photo(user.photo), :class =>'w-12 h-12 rounded-full')
    -#   .p-3
    -#     %strong
    -#       = link_to user.username, user, class: 'hover:text-blue-700 hover:bg-transparent'
    .grid.grid-cols-3.pt-3
      .flex.flex-row.col-span-2
        .p-3
          %strong
            = link_to user.email, user, class: 'hover:text-blue-700 hover:bg-transparent'
      .mt-0.text-center
        = relationship_button(user, current_user)
    %br





   