- if @user ||= current_user
  .row.py-2
    .col-4.align-self-center
      = relationship_button(@user, current_user)
    .col-6   
      = image_tag @user.avatar_photo, height: "100px", width: "100px"
  .row
    .col-12
      %h4.pl-5.ml-5
        = @user.fullname
  .row
    .col-12
      %h6.pl-5.ml-5
        = "@" + @user.username
  .row     
    .col-4
      %h5.px-4.ml-1
        %strong
          = @user.recipes.count
      Recipes
    .col-4
      %h5.px-4.ml-1
        %strong
          = @user.followers.count
      Followers
    .col-4
      %h5.pl-4.ml-1
        %strong
          = @user.followed_users.count 
      Following


   



   