- provide(:title, @title)
.row
  %aside.span4
    %section
      -# = gravatar_for @user
      %h1= @user.email
      %span= link_to "view my profile", @user
      %span
        %b recipes:
        = @user.recipes.count
    %section
      = render 'users/user'
      -# - if @users.any?
      -#   .user_avatars
      -#     - @users.each do |user|
      -#       = link_to gravatar_for(user, size: 30), user
    %h3= @title
    - if @users
      %ul
        = render @users
