- if signed_in?
  %nav#sidebar
    .sidebar-header
      %h6
        .fa.fa-user
        %b= current_user
      .has-text-centered.px-5.py-2.border-r-2
        %h5
          = current_user.followers.count
          Followers
      .has-text-centered.px-5.py-2
        %h5
          = current_user.followed_users.count 
          Followed
      .has-text-centered.px-5.py-2
        %h5 
          = current_user.recipes.count
          Recipes
    %p.align-self-bottom
      = render 'layouts/messages'
- else       
%nav#sidebar
  .sidebar-header
  %ul.list-unstyled.components
    %li
      %h5.pl-2
        TWITTER
    %br
    %li.active
      %a{:href => "recipes"}
        .fa.fa-home 
        Home
    %li
      %a{:href => "#"} 
        .fa.fa-at
        Connect
    %li
      %a{:href => "#"} 
        .fa.fa-hashtag
        Discover
    %li
      %a{:href => "#"} 
        .fa.fa-user
        Profile
