- if signed_in?
  %nav#sidebar
    .sidebar-header
      %h6
        = image_tag current_user.avatar_photo, height: "64px", width: "64px"
        %b.pl-2
          = link_to current_user.fullname, user_path(current_user)
    .row     
      .pl-5.pr-3.py-2.border-r-2
        %h5.px-4.ml-1
          %strong
            = current_user.followers.count
        Followers
      .pl-3.py-2.border-r-2
        %h5.pl-4.ml-1
          %strong
            = current_user.followed_users.count 
        Following
    %p.align-self-bottom
      = render 'layouts/messages'       

    .sidebar-header
    %ul.list-unstyled.components
      %li.active
        %a{:href => root_path}
          .fa.fa-home 
          %b Home
      %li
        = link_to edit_user_registration_path, class: "dropdown-item" do
          .fa.fa-cog.fa-lg
          %b Edit Profile
- else       
  %nav#sidebar
    .sidebar-header
      %ul.navbar-nav.pt-5
        %li.nav-item.pt-5
          %h4
            - if devise_mapping.registerable? && controller_name != 'registrations'
              = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
              = link_to 'Log In', new_user_session_path, class: 'nav-link bg-white'
            - if controller_name != 'sessions'
              = link_to 'Sign Up', new_user_registration_path, class: 'nav-link bg-white'
              = link_to 'Log In', new_user_session_path, class: 'nav-link'



